// Variables
$neon: #2196f3;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
  width: 100%;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Share Tech Mono", monospace;
  background: #000;
  color: #fff;
}

// Overlays
.overlay {
  width: 100%;
  background: $neon;
  z-index: 99;
  position: absolute;
}

.one {
  height: 30vh;
}

.two {
  height: 40vh;
  top: 20%;
}

.three {
  height: 40vh;
  top: 60%;
}

// Header
.header {
  background: url("images/space1.jpg") center no-repeat;
  background-size: cover;
  height: 0;

  // Header Content
  .header-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

    .containers {
      width: 100%;
      height: 100vh;
      display: flex;
      justify-content: space-around;
      align-items: center;

      .left-container {
        margin-right: 40%;
        text-align: left;
      }

      .right-container {
        text-align: right;
      }
      h1 {
        font-size: 5rem;
        text-transform: uppercase;
        letter-spacing: 2.5px;
      }
    }
  }

  // Social Media
  .social-media {
    position: absolute;
    right: 20px;
    top: 80px;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    i {
      font-size: 2rem;
      margin: 40px 0;
      cursor: pointer;
      &:hover {
        color: $neon;
        transition: 0.5s;
      }
    }
  }
}

@media (max-width: 875px) {
  .header {
    .header-content {
      .containers {
        flex-wrap: wrap;
      }
    }
  }
}

// Logo
.logo {
  position: fixed;
  cursor: pointer;
  font-style: italic;
  padding: 10px;
  z-index: 2;

  span {
    color: $neon;
  }
}

// Navbar Toggler
.navbar-toggler {
  position: fixed;
  right: 10px;
  padding: 10px;
  cursor: pointer;
  color: #fff;
  font-size: 2em;
  z-index: 2;
  display: none;
}

// Navbar
nav {
  width: 100%;
  position: fixed;
  z-index: 1;

  ul {
    list-style: none;
    display: flex;
    justify-content: center;
    overflow: hidden;
    transition: 0.5s;

    li {
      padding: 15px;

      a {
        text-decoration: none;
        color: #fff;
        letter-spacing: 1.5px;
        text-transform: uppercase;
        font-size: 18px;
        &:hover {
          color: $neon;
          transition: 0.5s;
        }
      }
    }
  }
}

// Resposive Navbar
@media (max-width: 860px) {
  nav {
    background: #000;
    ul {
      flex-direction: column;
      max-height: 0em;

      li {
        text-align: center;
      }
    }
  }

  .navbar-toggler {
    display: block;
  }

  .showing {
    max-height: 20em;
  }
}
